MODE=dev
# MODE=review
# MODE=production
PACKAGE_NAME=glabix-screen
# PACKAGE_NAME=glabix-screen-review
PRODUCT_NAME=Глабикс.Экран
# PRODUCT_NAME=Экран.Ревью
PRODUCT_DESCRIPTION=Глабикс.Экран - программа для записи экрана и создания видеосообщений
# PRODUCT_DESCRIPTION=Экран.Ревью - программа для записи экрана и создания видеосообщений
APP_ID=com.glabix.screen
# APP_ID=com.glabix.screen-review
CSC_LINK=
CSC_KEY_PASSWORD=
APPLE_API_KEY=
APPLE_API_KEY_ID=
APPLE_API_ISSUER=
APPLE_TEAM_ID=
CSC_IDENTITY_AUTO_DISCOVERY=
WIN_CSC_LINK=
WIN_CSC_KEY_PASSWORD=
# UPDATE_URL=https://glabix.dev/screen_app
UPDATE_URL=https://glabix.com/screen_app
