.bullet {
  width: 8px;
  min-width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background-color: currentColor;
  border: solid 1px currentColor;

  &-sm {
    @extend .bullet;
    width: 5px;
    min-width: 5px;
    height: 5px;
  }

  &-md {
    @extend .bullet;
    width: 6px;
    min-width: 6px;
    height: 6px;
  }

  &-lg {
    @extend .bullet;
    width: 12px;
    min-width: 12px;
    height: 12px;
  }

  &-xl {
    @extend .bullet;
    width: 16px;
    min-width: 16px;
    height: 16px;
  }
}

.dropdown-item-title {
  align-items: flex-end;
  padding-bottom: 8px;
  color: var(--gray-600);
  pointer-events: none !important;
  &:hover,
  & {
    background-color: var(--gray-100) !important;
    border: 1px solid var(--gray-100) !important;
  }
  .icon-wrapper,
  .icon-selected {
    display: none !important;
  }
}
