input,
button,
label,
.no-drag {
  -webkit-app-region: no-drag;
}

// checkbox toggle
.form-toggle {
  & {
    -webkit-app-region: no-drag;
    position: relative;
  }
  &-input {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
  }

  &-label {
    cursor: pointer;
    width: 40px;
    height: 24px;
    border-radius: 24px;
    background: var(--gray-400);
    display: block;
    position: relative;
  }

  &-input:checked + &-label {
    background: var(--accent-3);
  }

  &-input:disabled + &-label {
    background: var(--gray-300);
    pointer-events: none;
  }
  &-input:disabled + &-label:after {
    background: rgba(255, 255, 255, 0.8);
  }

  &-label:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    transition: 0.15s;
  }
  &-label:active:after {
    width: 20px;
  }
  &-input:checked + &-label:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
  }
}

.form-check {
  // - Common styles
  & {
    display: flex;
    position: relative;
    width: fit-content;
    cursor: pointer;
  }

  input {
    appearance: button;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
  // input:disabled {
  //   cursor: default;
  // }

  &-text {
    display: flex;
    gap: 0.75rem;
    cursor: pointer;
  }

  input:disabled + &-text {
    color: var(--gray-400);
  }

  input:focus-visible + &-text {
    outline: 1px dotted currentColor;
    outline-offset: 1px;
  }

  &-text:before {
    font-family: "glabix-iconset" !important;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    padding: 0 1px;
  }

  // - Radio styles
  input[type="radio"] + &-text:before {
    content: "\e98b"; // .i-circle
  }

  input[type="radio"]:checked + &-text:before {
    content: "\e984"; // .i-dot-circle
    color: var(--primary);
  }

  // - Checkbox styles
  input[type="checkbox"] + &-text:before {
    content: "\e9d2"; // .i-square
  }

  input[type="checkbox"]:checked + &-text:before {
    content: "\e9d0"; // .i-check-square
  }
}
