.windows-toolbar {
  padding-left: 40px;
  position: absolute;
  right: 0;
  top: 0;
}
.windows-toolbar-btn {
  width: 33px;
  height: 32px;
  line-height: 34px;
  overflow: hidden;
  color: var(--gray-600);
}
.windows-toolbar-btn.minimize {
  line-height: 35px;
}
.windows-toolbar-btn.minimize:hover {
  background-color: var(--gray-200);
}
.windows-toolbar-btn.maximize:hover {
  background-color: var(--gray-200);
}
.windows-toolbar-btn.close:hover {
  background-color: #d5322f;
  color: var(--light);
}
