@forward "styles.scss";
@forward "_buttons.scss";
@forward "_popover.scss";
@forward "_forms.scss";
@forward "_movable.scss";

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  will-change: transform, opacity;
  backface-visibility: hidden;
  -webkit-app-region: no-drag;
  zoom: 1 !important;
}

.page-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* change width height movable styles */
.webcamera-view-container {
  // position: fixed;
  // top: 600px;
  // left: 20px;
  position: relative;
  // width: 200px;
  // height: 200px;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;

  &.circle-sm {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  &.circle-lg {
    width: 360px;
    height: 360px;
    border-radius: 50%;
  }

  &.circle-xl {
    width: 560px;
    height: 560px;
    border-radius: 50%;
  }

  &.rect-sm {
    width: 300px;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 4px;
    video {
      border-radius: 4px;
    }
  }

  &.rect-lg {
    width: 650px;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 4px;
    video {
      border-radius: 4px;
    }
  }

  &.rect-xl {
    width: 80vw;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 10px;
    video {
      border-radius: 10px;
    }
  }

  &.circle-sm,
  &.circle-lg,
  &.circle-xl {
    video {
      border-radius: 50%;
    }
  }

  video {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
  }

  &.is-flip video {
    transform: scaleX(-1);
    backface-visibility: hidden;
  }
}

.webcamera-view-error {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  padding: 20px;
  text-align: center;
}

.webcamera-view-menu-container {
  position: absolute;
  bottom: -20px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.webcamera-view-menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--light);
  padding: 8px 12px;
  border-radius: 12px;
  display: flex;
  gap: 8px;
  border: solid 1px var(--gray-600);
}

.webcamera-view-menu-actions,
.webcamera-view-menu-more {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.webcamera-view-container:hover .webcamera-view-menu-more {
  opacity: 1;
  pointer-events: all;
}
.webcamera-view-container:hover
  .webcamera-view-menu-container:hover
  .webcamera-view-menu-more {
  opacity: 0;
  pointer-events: none;
}
.webcamera-view-menu-container:hover .webcamera-view-menu-actions {
  opacity: 1;
  pointer-events: all;
}

.draw-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.webcamera-only-container {
  // position: fixed;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
  position: relative;
  aspect-ratio: 16/9;
  border: 5px solid var(--accent);
  border-radius: 4px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;

  .microphone-alert {
    position: absolute;
    top: calc(100% + 1.25rem);
    left: 0;
    right: 0;
    color: var(--dark);
  }
}

.webcamera-only-container.sm {
  width: 410px;
}
.webcamera-only-container.lg {
  width: 820px;
}
.webcamera-only-container.xl {
  width: 80vw;
}

.webcamera-only-error {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--light);
}

.webcamera-only-title {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--accent);
  color: var(--light);
  border-radius: 8px 8px 0 0;
  padding: 15px 40px;
  gap: 12px;
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.webcamera-only-menu-container {
  position: absolute;
  bottom: -20px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.webcamera-only-menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--light);
  padding: 8px 12px;
  border-radius: 12px;
  display: flex;
  gap: 8px;
  border: solid 1px var(--gray-600);
}

.webcamera-only-menu-actions,
.webcamera-only-menu-more {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.webcamera-only-container:hover .webcamera-only-menu-more {
  opacity: 1;
  pointer-events: all;
}
.webcamera-only-container:hover
  .webcamera-only-menu-container:hover
  .webcamera-only-menu-more {
  opacity: 0;
  pointer-events: none;
}
.webcamera-only-menu-container:hover .webcamera-only-menu-actions {
  opacity: 1;
  pointer-events: all;
}

.webcamera-only-container video {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.fullscreen-countdown {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .btn--invert {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }

  .btn--invert:hover {
    background-color: #fff;
    color: #0f1928;
  }
}

.fullscreen-countdown-text {
  font-size: 100px;
  font-weight: 500;
}

.screen-recorder-container {
  position: fixed;
  top: calc(50% - 240px);
  left: calc(50% - 320px);
  width: 640px;
  height: 480px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 9999px;
  z-index: 1;

  &.is-recording {
    pointer-events: none;
    outline: 4px solid var(--error);
    outline-offset: 1px;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .microphone-alert {
    position: absolute;
    top: calc(100% + 0.75rem);
    left: 0;
    right: 0;
  }

  &.is-recording .microphone-alert {
    pointer-events: none;
    opacity: 0;
  }
}

.microphone-alert-container {
  display: none;
}
body.no-microphone .microphone-alert-container {
  display: block;
}

.microphone-alert {
  display: flex;
  gap: 0.75rem;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  color: var(--light);
}

.microphone-alert-icon {
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  border: solid 2px var(--error);
  background-color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--error);
}

.crop-screenshot-container {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.crop-screenshot {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.draggable-zone {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 50%;
  min-width: 200px;
  translate: -50% 0;
  -webkit-app-region: drag;
}

body:not(.body--is-recording) .recorder-btn {
  // Buttons Play, Stop, Pause is disabled by default
  // border-color: var(--gray-300);
  // background-color: var(--gray-300);
  // color: var(--gray-600);
  opacity: 0.6;
  pointer-events: none;
}
