@forward "styles.scss";
@forward "_forms.scss";
@forward "_buttons.scss";
@forward "_tooltip.scss";
@forward "_progress.scss";
@forward "_windows-toolbar.scss";

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  -webkit-app-region: drag;
  font-size: 14px;
  padding: 40px 20px 20px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.media-device-panel {
  .icon-access {
    display: none;
  }

  &.has-access .icon-access {
    display: block;
  }
  &.has-access .btn {
    display: none;
  }

  &.is-disabled {
    color: var(--gray-600);
    pointer-events: none;
  }

  &.is-disabled .btn {
    border-color: var(--gray-300);
    background-color: var(--gray-300);
    color: var(--gray-600);
  }
}

.limits-content {
  min-height: 90%;
  display: flex;
  flex-direction: column;
}

.screen-footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
  left: 0;
  right: 0;
  border-top: solid 1px var(--gray-400);
}

.profile-container {
  min-height: 40px;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.profile-container .back {
  display: none;
}

.profile-content .profile-container .back {
  display: block;
}
.profile-content .profile-container .next {
  display: none;
}

.profile-content .log-out {
  border-top: solid 1px var(--gray-400);
  border-bottom: solid 1px var(--gray-400);
}

.organizations-container {
  height: 290px;
  overflow-y: auto;
  -webkit-app-region: no-drag;
}

.organizations-container > div:last-child {
  margin-bottom: 0 !important;
}

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  color: var(--light);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: var(--gray-400);
  // outline: 1px solid var(--light);
}

.avatar img {
  display: block;
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.visualizer {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.15s;
}
.btn:hover .visualizer {
  opacity: 0;
}

.tab-btns-container {
  margin-left: -10px;
  margin-right: -10px;
}

.tabs-container {
  background-color: var(--gray-200);
  margin-left: -10px;
  padding-left: 10px;
  margin-right: -10px;
  padding-right: 10px;
  border-radius: 0.5rem;
}

[data-record-container="video"] .tabs-container {
  border-top-left-radius: 0;
}
[data-record-container="screenshot"] .tabs-container {
  border-top-right-radius: 0;
}

.btn-tab-first,
.btn-tab-last {
  background: transparent;
  z-index: 2;
}

.btn-tab-first.selected {
  z-index: 1;
  &:before,
  &:after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: calc(100% + 1px);
    bottom: -1px;
    pointer-events: none;
    z-index: 1;
  }
  &:before {
    background-color: var(--gray-200);
  }
  &:after {
    background-color: var(--light);
    border-radius: 0 0 0 50%;
  }
}

.btn-tab-last.selected {
  z-index: 1;
  &:before,
  &:after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: calc(100% + 1px);
    bottom: -1px;
    pointer-events: none;
  }
  &:before {
    background-color: var(--gray-200);
  }
  &:after {
    background-color: var(--light);
    border-radius: 0 0 50% 0;
  }
}

// Settings
.settings-tab {
  display: block;
  text-align: left;
  width: 100%;
  padding: 0.75rem 0;
  border-bottom: solid 1px var(--gray-300);
}

.settings-section {
  width: 100%;
  padding: 0.75rem 0;
  border-bottom: solid 1px var(--gray-300);
}
.settings-section.is-disabled {
  color: var(--gray-600);
}

.settings-scrollbox {
  max-height: calc(100% - 30px);
  overflow-y: auto;
}

.settings-shortcut-input-wrapper {
  border: solid 1px var(--gray-300);
  border-radius: 0.25rem;
  padding: 0.25rem 2rem 0.25rem 0.5rem;
  position: relative;
  display: inline-block;

  .form-check {
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
  }

  input[type="text"] {
    outline: none !important;
    font-size: 12px;
    width: 85px;

    .settings-section.is-disabled & {
      color: var(--gray-600);
      pointer-events: none;
    }
  }
}

body.is-uploading .footer-progress,
body.is-update-exist .footer-update,
body.is-update-downloading .footer-update-downloading {
  display: flex;
}

body.is-update-exist .footer-update {
}
body.is-update-downloading button {
  pointer-events: none;
}
body.is-update-downloading .btn--primary {
  background-color: var(--gray-400);
  border-color: var(--gray-400);
}

body.is-update-exist .footer-content,
body.is-uploading .footer-content,
body.is-update-downloading .footer-content,
body.is-uploading .footer-update,
body.is-update-downloading .footer-progress,
body.is-update-downloading .footer-update,
.footer-progress,
.footer-update,
.footer-update-downloading {
  display: none;
}

.footer-update {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
